<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">
          <h2 class="post-title">
            About me
          </h2>
          <p class="justified">
            I am a growing full-stack developer who has within his developer years worked with exciting projects within the cloud, virtualization and bare metal systems.
            Some of these projects included me developing, aiding and supporting several customers before I fully shifted my focus towards DevOps and development as a full-stack developer.
            Some of my exciting projects have also been outside the business because I believe in growth by actions.          </p>
            <h3> So who am I?</h3>
        <p>My name is Julian Alwandy, I'm 22 years old. Working for Microsoft as a Service Engineer, developing deployment tools with C# and Powershell towards the cloud (Azure) and version control pipeline.</p>
        <h3> Tools & Framework I find exciting</h3>
        <p>I've fallen in love with several tools and framework as I progress myself within the DevOps and full-stack development
        The list is huge but here's some of them.
        <li>Visual Studios 2015</li>
          <li>Laravel</li>
        <li>Angular 2 (CLI)</li>
        <li>NodeJS</li>
        <li>Webstorm & PHPstorm by JetBeans (Great tool!)</li>
        </p>
        <h3> So what have I done?</h3>
        <p>As I am a guy that is excited and curious to always try new technologies.
          In other words, check my <a href="https://github.com/Alwandy/mystuff">github</a> repo and see my branches. Should have a few stuff public.
        </p>
      </div>
</div>
